@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Sulphur Point', sans-serif;
}

.container {
  min-height: 100vh;
  width: auto;
  background-color: #F7F8F3;
  padding: 60px 10% 150px 10%;
  text-align: center;
  background-image: url("../images/pattern_2.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.row {
  display: flex;
  max-width: 950px;
  min-height: 600px;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.col {
  flex-basis: 50%;
  padding: 60px 50px;
}

#col_1 {
  background-color: #A54202;
  text-align: justify;
  font-size: 19px;
  line-height: 22px;
  color: white;
}

#col_2 {
  background-color: #f7f8f3;
  text-align: left;
}

#form h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-bottom: 40px;
}

#form h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

#form h3::after {
  content: '';
  display: block;
  height: 2px;
  background-color: black;
  width: 100%;
}

.gender {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  padding: 15px 0 35px 0;
}

#date, #submit {
  min-width: 100%;
  height: 45px;
  background-color: #C4C4C4;
  border: none;
  font-size: 18px;
  font-weight: 700;
  padding: 0 16px 0 16px;
  color: #454545;
  margin-top: 20px;
  outline: none;
}

#submit {
  text-transform: uppercase;
  font-size: 24px;
}

#results {
  text-align: center;
}

#results h4 {
  padding: 20px 0 20px 0;
  font-size: 36px;
  font-weight: 700;
}

#results p {
  font-weight: 400;
  font-size: 24px;
}

#results h5 {
  font-weight: 900;
  font-size: 48px;
}

@media screen and (max-width: 1024px) {
  #col_1 {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 60px 0 150px 0;
  }

  .row {
    flex-direction: column;
  }

  .container img {
    max-width: 80%;
  }
}